body.login-page{
	background-image: url(../images/blurred-bg-6.jpg);
	background-size: 100%;
}
.login-page .login-logo {
	padding:7%;
}
.login-page .login-box {
	background:#fff;
}
label.error{display:none !important;}
input.error, input.error:focus { border-color: #a94442;}
radio.error label checkbox.error label{
  color: #a94442;
}

#header-logo .logo-content-big, .logo-content-small{background: url(../images/logo.png) left center no-repeat;
 height: 50px;
    margin-top: -30px;
}
.admin-details li {

	display: inline-block;
	
}

.login-box-body {background-color: #000;}
.login-box {width: 370px;
	margin: 7% auto;}
.login-logo {
	 font-size: 35px;
	 text-align: center;
	 margin-bottom: 25px;
	 font-weight: 300;
}
.error-msg {}
.login-form {
	 background: #fff;
	 padding: 20px;
	 border-top: 0;
	 color: #666;
}
.login-box-msg {
	 margin: 0;
	 text-align: center;
	 padding: 0 20px 20px 20px;
	 font-size: 14px;
}

.login-button {
	 background-color: #3c8dbc;
	 border-color: #367fa9;
}
.checkbox-forget {
	 outline: none;
	 text-decoration: none;
	 color: #72afd2;
	 font-size: 14px;
}


.error {color: #FF0000;}

@media (min-width:768px){
	.login-page .login-box {
		width: 28%;
		margin: 0 auto;
		padding-top: 9%;
		padding-bottom: 9%;
		height:100%;
	}

}

.highcharts-credits
{
display:none !important;	
}

